body{
  background: rgb(199, 203, 207)!important;
}

.about {
  font-weight: bolder!important;
  font-family: monospace; 
  font-size: 16px!important;
}

.card-img-top:hover {
  color: slategray;
  opacity: .5!important;
}
a{
  color: #eee;
}