body{
  background: #e9ecef!important;
}

.about {
  font-weight: bolder!important;
  font-family: monospace; 
  font-size: 16px!important;
}

.card-img-top:hover {
  color: slategray;
  opacity: .3!important;
}
.links {

  color: #eee;
}
.links:link {
  color: #bcb8b1;
}


.links:visited {
  color: #bcb8b1;
}


.links:hover {
  color: slategray;
}


.links:active {
  color: slategray;
}
.card-img-top{
  height: 240px;
  
}

.col-lg-4{
   padding: 25px;
  
}

.card-body {
  background-color: #dfdedd;
}

.thisH1 {
  font-size: 50px;
  text-align: center;
}

.email{
  color: black;
  text-decoration: underline; 
  font-size: 16px;
  cursor: pointer;
}

.resume{
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.btn{
  background-color: #343a40!important;
  border-color: #343a40!important;
}

.atag{
  height:240px;
  width: 450px!important;
}
.card{
  width: 450px!important;
}